<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css align</title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		div{
			border: 1px solid black;
		}
		.box{
			position: relative;
			height: 300px;
			width: 600px;
		}
		.abs{
			position: absolute;
			width: 100px;
			height: 100px;
			top: 50%;
			left:  50%;
			transform: translate(-50%, -50%);
		}
		.abs2{
			width: 50%;
			height: 50%;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	</style>
</head>
<body>
	<div class="box">
		<div class="item abs">
			absolute position item
		</div>
	</div>
	<div style="display: table;width: 100px;height: 100px;">
		box
		<div style="display:table-cell;vertical-align: middle;">
			hello,world
			<p>hello,world</p>
		</div>
	</div>
	<div class="box">
		<div class="abs2">
			absolute  items
		</div>
	</div>
</html>