<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Table</title>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		.container{
			width: 100%;
		}
		.left{
			width: 200px;
		}
		.right{
			width: 300px;
		}
		td{
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<table class="container">
		<tr class="row">
			<td class="left">
				left
			</td>
			<td class="middle">
				middle
				<p>middle</p>
			</td>
			<td class="right">
				right
			</td>
		</tr>
	</table>
</body>
</html>